.boton {
    padding: 10px 5px;
    background-color: #0ec1ee; /* Color por defecto */
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 22px;
    width: 200px;
    text-align: center;
    margin: 0 auto; /* Esto centra el botón horizontalmente si el contenedor tiene un ancho definido */
    display: block; /* Asegúrate de que el botón es un bloque para que margin auto funcione */
  }
  
  .boton:hover {
    background-color: #b9d7f0; /* Color al pasar el ratón por encima */
  }